.formInput-contaienr{

    display: flex;
    flex-direction: column;
    margin: 0 5px;

    label{
        font-weight: 300;
        line-height: 1.5;
        font-size: 20px;

        color: rgb(119, 119, 119);
    }
    input{
        padding: 1rem 1rem;
        margin: 5px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 18px;


        &:focus{
        font-size: 15px;
        background: rgb(255, 253, 253);
        outline: none;
        border-bottom: 1px solid black;


            &::placeholder{
                color: rgb(163, 159, 163);
                top:5px;
                position: absolute;
            }
        }

    }
}