.login__container{



    box-shadow: 8px 10px #c7c7c7;
    border-radius: 5px;
    margin: 5px;
    width: 50%;

    h2,p{
        margin: 5px;
        line-height: 1.5;
        letter-spacing: 2px;
    }


    .buttons-container{
        margin: 5px 0;
        display: flex;
    }
}

@media only screen and (max-width: 600px) {

    .login__container{
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        width: 100%;
    }

}